/* From Uiverse.io by vinodjangid07 */ 
.button_back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    z-index: 9999;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .button_back-to-top:hover {
    width: 120px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
  }
  
  .button_back-to-top:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .button_back-to-top::before {
    position: absolute;
    left: 50%;
    bottom: -30px; /* Adjust based on your needs */
    content: "回到顶部";
    color: white;
    font-size: 0px;
    text-align: center;
    transform: translateX(-50%); /* Center horizontally */
    transition: font-size 0.3s, bottom 0.3s, opacity 0.3s;
    opacity: 0; /* Initially hidden */
}
  
  .button_back-to-top:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }
  