/* From Uiverse.io by Javierrocadev */ 
.container_type1 {
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background-image: repeating-radial-gradient(  #e2d1d1 50%, #e7d2d2ee 70%,#f5c7a1 95%);
    background-size: 50px 50px;
  }